@model HouseReview.Models.Comment

<form method="post" asp-action="Create1">
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-info pl-3">Добавить комментарий</h2>
        </div>
        <div class="row">
            <div class="col-8">

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Adress"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Adress" class="form-control" />
                        <span asp-validation-for="Adress" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="col-8">

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Text"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Text" class="form-control" />
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="col-8">

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Grade"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Grade" class="form-control" />
                        <span asp-validation-for="Grade" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="col-8">

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="UserName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col text-center">
              <input type="submit" class="btn btn-lg btn-primary w-75" value="Добавить отзыв" />
        </div>
        <div class="col-4">
            @* Keep this empty *@
        </div>
    </div>
    </div>

</form>

@section Scripts{ 

    @{ <partial name="_ValidationScriptsPartial" /> }

}