@{ ViewData["Title"] = "Карта Зданий";}
@model HouseReview.Models.MapChoice;

<!doctype html>
<html>
<head>
    <title>HouseReview</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/raiting.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.min.js" />
</head>
<body>
    <h2 class="text-center">Выберете объект</h2>
    <div class="container my-3">
        <div class="row row-cols-auto">
            <div class="col-auto">
                <div id="map" style="width: 600px; height: 400px"></div>
            </div>
            <div class="col-5">
                <a asp-controller="Home" asp-action="BuyFlat" class="btn btn-primary btn-lg my-3 mx-3" target="_blank">Купить квартиру</a>
                <a asp-controller="Home" asp-action="RentFlat" class="btn btn-primary btn-lg my-3 mx-3" target="_blank">Снять квартиру</a>
                <a asp-controller="Home" asp-action="BuyHouse" class="btn btn-primary btn-lg my-3 mx-3" target="_blank">Купить дом</a>
                <a asp-controller="Home" asp-action="RentHouse" class="btn btn-primary btn-lg my-3 mx-3" target="_blank">Снять дом</a>
                <a asp-controller="Home" asp-action="Cadastr" class="btn btn-primary btn-lg my-3 mx-3" target="_blank">Кадастровая карта</a>
            </div>
        </div>
    </div>
    <div class="col mt-3 mb-3">
        <form asp-controller="Home" asp-action="InputCoords" method="post">
            <input id="hiddenControl" type="text" asp-for="adress" class="form-control mt-3" readonly/>
            <input id="hiddenControl1" type="text" asp-for="coords" class="form-control mt-3 mb-3" readonly/>
            <input type="submit" value="Подтвердить" class="btn btn-primary" />
        </form>
    </div>

     <div class="col">
         <form asp-controller="Comment" asp-action="Create">
             <a>Введите адрес для добавления комментария:</a>
             <div class="form-group">
                 <label for="Adress" class="control-label"></label>
                 <input name="Adress" id="hiddenControl3" class="form-control" />
                 <div class="mt-1">
                     <input type="submit" value="Добавить комментарий" class="btn btn-primary" />
                 </div>
             </div>
         </form>
         <form asp-controller="Comment" asp-action="Find">
             <a>Введите адрес для поиска:</a>
             <div class="form-group">
                 <label for="Adress" class="control-label"></label>
                 <input name="Adress" id="hiddenControl2" class="form-control" />
                 <div class="mt-1">
                     <input type="submit" value="Поиск" class="btn btn-primary" />
                 </div>
             </div>
         </form>
     </div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=50bb418f-9bea-4e20-8e47-45a5f8f27722&lang=ru_RU" type="text/javascript"></script>
    <script src="~/js/script.js" type="text/javascript"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>