
<!doctype html>

<html>
<head>
    <title>HouseRivew</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.min.js" />
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-5 mx-auto flex-column">
        <main class="px-3">
            <h1 class="text-center">Приветствуем на главной странице!</h1>
            <p class="lead text-center">На нашем сайте вы можете оставить отзыв о своём доме. Если вы планируете арендовать, снять или купить жильё в Ростове-на-Дону, то мы Вам поможем! Выберите интересующую категорию снизу, чтобы прочитать отзывы жильцов, найти квартиру в понравившемся доме или узнать дополнительную ифнормацию о здании.</p>
        </main>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="House">
                    <img src="~/img/main_houese.jpeg" class="img-thumbnail" alt="Lights" style="width:200%">
                    <div>
                         <a class="text-sm-center nav-link" asp-controller="Home" asp-action="House">Перейти на карту зданий</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Regions">
                    <img src="~/img/main_regions.png" class="img-thumbnail" alt="Lights" style="width:200%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Regions">Перейти на карту районов</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="text-center p-lg-5">
        <h1>
            <div class="scramble-text"></div>
        </h1>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scrambler.js"></script>
</body>
</html>