@{ ViewData["Title"] = "О сайте";}
<div class="cover-container d-flex w-100 h-100 p-5 mx-auto flex-column">
    <main class="px-3">
        <h1 class="text-center">О сайте</h1>
        <p class="lead text-center">На нашем сайте вы можете оставить отзыв о своём доме. Если вы планируете арендовать, снять или купить жильё в Ростове-на-Дону, то мы Вам поможем! Выберите интересующую категорию, чтобы прочитать отзывы жильцов, найти квартиру в понравившемся доме или узнать дополнительную ифнормацию о здании.</p>
    </main>
    <div>
        <p class="lead text-center">В разделе карта зданий нужно найти объект на карте, нажать на него и узнать точный адрес. Далее скопировать этот адрес и использовать его для добавления или поиска комментариев. На карте районов в качестве адреса используется название района.</p>
    </div>
</div>