
<body>
    <h2 class="text-center">Карта районов</h2>
    <div class="row">
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Soviet">
                    <img src="~/img/Soviet.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Soviet">Советский</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Voroshil">
                    <img src="~/img/Voroshil_pressed.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Voroshil">Ворошиловский</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Railw">
                    <img src="~/img/railw.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Railw">Железнодорожный</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Kirov">
                    <img src="~/img/Kirov.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Kirov">Кировский</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Lenin">
                    <img src="~/img/Lenin.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Lenin">Ленинский</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="October">
                    <img src="~/img/October.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="October">Октябрьский</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Prolet">
                    <img src="~/img/Prolet.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Prolet">Пролетарский</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Firstm">
                    <img src="~/img/Firstm.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Firstm">Первомайский</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col col-auto">
        <div class="mt-3 mb-3">
            <a asp-controller="Comment" asp-action="Create" class="btn btn-primary">Добавить комментарий</a>
        </div>
        <form asp-controller="Comment" asp-action="Find">

            <p>Введите название района:</p>
            <div class="form-group">
                <label for="Adress" class="control-label"></label>
                <input name="Adress" class="form-control" />
                <div class="mt-3 mb-lg-5">
                    <input type="submit" value="Поиск" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</body>
